#top-nav {
  display: none;
}
/* Extra small devices (max width 320px) : Start */
@media (max-width: 320px) {
  /* Home About Us : Start */
  #home-about-us .card {
    height: 475px;
  }

  #home-about-us .card {
    height: 475px;
  }
  /* Home About Us : End */

  /* Home Our Beloved Clients : Start */
  #home-our-beloved-clients .heading::before {
    content: "";
    width: 10vw !important;
    height: 4px;
    background: #efded6;
    display: block;
    position: absolute;
    left: 0%;
    top: 28px;
    margin-top: 65px;
  }

  #home-our-beloved-clients .heading::after {
    content: "";
    width: 10vw !important;
    height: 4px;
    background: #efded6;
    display: block;
    position: absolute;
    right: 0%;
    top: 28px;
    margin-top: 65px;
  }
  /* Home Our Beloved Clients : End */
}
/* Extra small devices (max width 320px) : End */

/* Extra small devices (less than 576px) : Start */
@media (max-width: 575px) {
  /* Global CSS : Start */
  /* remove padding & margin */
  .pm-sm-0 {
    padding: 0;
    margin: 0;
  }

  /* Global CSS : End */
  
  /* == Page - Homepage : Start == */
  /* Jumbotron : Start */
  #jumbotron {
    height: 800px;
  }

  #jumbotron::after {
    height: 515px;
  }
  /* Jumbotron : End */

  /* Top Nav & Navbar : Start */

  .bg-nav-white {
    height: 100vh;
    overflow-y: scroll;
  }

  #navbar .navbar-brand img {
    width: 30px;
  }

  #navbar .navbar-brand-text {
    font-size: 17px;
  }

  #navbar .search-form {
    padding: 15px 0px 10px 0px;
    position: relative;
  }

  #navbar .search-form-input {
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    border-radius: 4px;
    font-size: 14px;
    padding: 19px 17px;
    background-image: url("../images/icons/search-icon-gray.svg");
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 15px;
    text-indent: 18px;
  }

  #navbar .search-form .form-control::placeholder {
    font-size: 14px;
    color: #7c7f87;
  }

  #navbar .search-form .form-control:focus {
    border-color: #be6a46;
  }

  #navbar .nav-link {
    text-transform: uppercase;
    color: #323848 !important;
  }

  #navbar .chevron-icon {
    vertical-align: middle;
    position: absolute;
    right: 0 !important;
    margin-right: 6px;
  }

  #navbar .chevron-icon.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  #navbar .dropdown-menu {
    margin-top: -10px !important;
  }

  #navbar .dropdown-our-programs .heading {
    font-size: 15px;
  }

  #navbar .dropdown-our-programs .dropdown-item-wrapper {
    padding-left: 35px;
  }

  #navbar .dropdown-our-programs .list-dropdown-item-wrapper {
    padding-left: 20px;
  }

  #navbar.dropdown-our-programs .continent {
    color: #323848;
  }

  #navbar .btn-check-eligibility-wrapper {
    text-align: center;
    padding-bottom: 15px;
  }

  #navbar .btn-check-eligibility {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    background-color: #323848;
    margin-top: 15px;
  }
  /* Top Nav & Navbar : End */

  /* Home About Us : Start */
  #home-about-us .content-card-container {
    padding: 0 !important;
    overflow-x: hidden;
  }

  #home-about-us .card {
    width: 100%;
  }

  #home-about-us .card-footer {
    text-align: center;
    padding-bottom: 10px;
  }
  /* Home About Us : End */

  /* Home Why Us : Start */
  #home-why-us {
    background-image: url("../images/logo/ngglobal-logo-lg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top 0px left -40px;
    margin-top: -60px;
  }

  #home-why-us .quotes {
    font-size: 27px;
    padding-top: 10px;
  }

  #home-why-us .content {
    padding-top: 20px;
  }
  /* Home Why Us : End */

  /* Why Invest In Second Citizenship : Start */
  #WhyInvestInSecondCitizenship .heading {
    padding-top: 25px;
    font-weight: 500;
    /* font-size: 28px; */
    z-index: 10;
    color: #323848;
  }
  /* Why Invest In Second Citizenship : End */

  /* Home Our Beloved Clients : Start */
  #home-our-beloved-clients .heading {
    font-size: 25px;
  }

  /* Home Our Beloved Clients : Start */
  #home-our-beloved-clients .heading::before {
    content: "";
    width: 17vw;
    height: 4px;
    background: #efded6;
    display: block;
    position: absolute;
    left: 0%;
    top: 28px;
    margin-top: 65px;
  }

  #home-our-beloved-clients .heading::after {
    content: "";
    width: 17vw;
    height: 4px;
    background: #efded6;
    display: block;
    position: absolute;
    right: 0%;
    top: 28px;
    margin-top: 65px;
  }
  /* Home Our Beloved Clients : End */
  /* Home Our Beloved Clients : End */

  /* Home Because We Care : Start */
  #home-because-we-care {
    padding-top: 50px;
  }

  #home-because-we-care .custom-container {
    padding: 0px 0px;
  }

  #home-because-we-care .background-img {
    background-image: url("../images/background/bg-because-we-care.png");
    background-size: cover;
    position: relative;
    width: 100%;
    height: 200px;
  }

  #home-because-we-care .transparent-text {
    font-size: 11vw;
    opacity: 0.12;
    padding-top: 60px;
  }

  #home-because-we-care .text {
    font-size: 7vw;
  }
  /* Home Because We Care : End */

  /* International Real Estate : Start */
  /* #home-international-real-estate .heading {
    font-size: 25px;
  } */

  #splide-international-real-estate img {
    width: 100%;
  }
  /* International Real Estate : End */

  /* Property Of The Week : Start */
  #property-of-the-week .container {
    padding: 0;
  }

  /* #property-of-the-week .heading {
    font-size: 25px;
  } */
  /* Property Of The Week : End */

  /* Publication : Start */

  #home-publication {
    margin-top: 70px;
    padding-bottom: 70px;
  }

  #home-publication .heading {
    padding-top: 35px;
  }

  #home-publication .images {
    height: 350px;
    width: 250px;
  }

  #home-publication .img-wrap {
    position: relative;
    height: 350px;
    width: 250px;
  }

  #home-publication .img-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 350px;
    width: 250px;
    background: rgba(50, 56, 72, 0.7);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
  }

  #home-publication .img-wrap:hover .img-description {
    visibility: visible;
    opacity: 1;
    filter: drop-shadow(0px 30px 60px rgba(0, 0, 0, 0.2));
  }
  /* Publication : End */
  /* == Page - Homepage : End == */

  /* == Page - About Us : Start == */
  /* About Us - About : Start */
  #about-us-bottom .card-body {
    display: flex;
    align-items: center;
  }

  #about-us-bottom .custom-container {
    padding: 0;
  }

  #about-us-bottom .card {
    margin-top: 20px;
  }
  /* About Us - About : End */

  /* About Us - Meet Our Team : Start */
  #about-us-meet-our-team .box-1 {
    height: 128px;
    width: 41px;
    background-color: #323848;
    position: absolute;
    top: 220px;
    left: 0;
  }

  #about-us-meet-our-team .box-2 {
    height: 128px;
    width: 41px;
    background-color: #323848;
    position: absolute;
    top: 220px;
    right: 0;
  }

  #about-us-meet-our-team .team-img {
    width: 249px;
    height: 347px;
  }
  /* About Us - Meet Our Team : End */
  /* == Page - About Us : End == */
}
/* Extra small devices (less than 576px) : End */

/* Small devices (landscape phones, 576px and up) : Start */
@media (min-width: 576px) and (max-width: 767px) {
    /* Global CSS : Start */
    /* remove padding & margin */
    .pm-sm-0 {
      padding: 0;
      margin: 0;
    }

    /* Global CSS : End */
}
/* Small devices (landscape phones, 576px and up) : End */

/* Medium devices (tablets, 768px and up) : Start */
@media (min-width: 768px) and (max-width: 991px) {
  /* Global CSS : Start */
  /* remove padding & margin */
  .pm-md-0 {
    padding: 0;
    margin: 0;
  }

  /* Global CSS : End */

  /* Jumbotron : Start */
  #jumbotron {
    height: 756px;
  }

  #jumbotron::after {
    height: 756px;
  }
  /* Jumbotron : End */

  /* Why Invest In Second Citizenship : Start */
  #WhyInvestInSecondCitizenship .heading {
    padding-top: 25px;
    font-weight: 500;
    /* font-size: 36px; */
    z-index: 10;
    color: #323848;
  }
  /* Why Invest In Second Citizenship : End */

  /* Top Nav & Navbar : Start */
  /* #top-nav {
        display: none;
    } */

  #navbar .navbar-brand img {
    width: 30px;
  }

  #navbar .navbar-brand-text {
    font-size: 17px;
  }

  #navbar .search-form {
    padding: 15px 0px 10px 0px;
    position: relative;
  }

  #navbar .search-form-input {
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    border-radius: 4px;
    font-size: 14px;
    padding: 19px 17px;
    background-image: url("../images/icons/search-icon-gray.svg");
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 15px;
    text-indent: 18px;
  }

  #navbar .search-form .form-control::placeholder {
    font-size: 14px;
    color: #7c7f87;
  }

  #navbar .search-form .form-control:focus {
    border-color: #be6a46;
  }

  #navbar .nav-link {
    text-transform: uppercase;
    color: #323848 !important;
  }

  #navbar .chevron-icon {
    vertical-align: middle;
    position: absolute;
    right: 0 !important;
    margin-right: 6px;
  }

  #navbar .chevron-icon.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  #navbar .dropdown-menu {
    margin-top: -10px !important;
  }

  #navbar .dropdown-our-programs .heading {
    font-size: 15px;
  }

  #navbar .dropdown-our-programs .dropdown-item-wrapper {
    padding-left: 35px;
  }

  #navbar .dropdown-our-programs .list-dropdown-item-wrapper {
    padding-left: 20px;
  }

  #navbar.dropdown-our-programs .continent {
    color: #323848;
  }

  #navbar .btn-check-eligibility-wrapper {
    text-align: center;
    padding-bottom: 15px;
  }

  #navbar .btn-check-eligibility {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    background-color: #323848;
    margin-top: 15px;
  }
  /* Top nav & Navbar : End */

  /* Home About Us : Start */
  #home-about-us .card-footer {
    text-align: center;
  }
  /* Home About Us : End */

  /* Home Why Us : Start */
  #home-why-us .row {
    background-image: url("../images/background/greymap.png");
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: left 340px top 0px;
  }

  #home-why-us .ngglobal-logo {
    background-image: url("../images/logo/ngglobal-logo-lg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  #home-why-us .quotes {
    font-size: 22px;
    /* position: absolute; */
    /* top: 300px; */
  }
  /* Home Why Us : End */

  /* Home Because We Care : Start */
  #home-because-we-care {
    padding-top: 50px;
  }

  #home-because-we-care .custom-container {
    padding: 0px 0px;
  }

  #home-because-we-care .background-img {
    background-image: url("../images/background/bg-because-we-care.png");
    background-size: cover;
    position: relative;
    width: 100%;
    height: 300px;
  }

  #home-because-we-care .transparent-text {
    font-size: 10vw;
    opacity: 0.12;
    padding-top: 60px;
  }

  #home-because-we-care .text {
    font-size: 5vw;
  }
  /* Home Because We Care : End */

  /* International Real Estate : Start */
  #splide-international-real-estate img {
    width: 280px;
  }
  /* International Real Estate : End */

  /* Publication : Start */

  #home-publication {
    margin-top: 70px;
    padding-bottom: 70px;
  }

  #home-publication .heading {
    padding-top: 35px;
  }

  #home-publication .images {
    height: 350px;
    width: 250px;
    object-fit: cover;
  }

  #home-publication .img-wrap {
    position: relative;
    height: 350px;
    width: 250px;
    margin-top: 40px;
  }

  #home-publication .img-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 350px;
    width: 250px;
    background: rgba(50, 56, 72, 0.7);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
  }

  #home-publication .img-wrap:hover .img-description {
    visibility: visible;
    opacity: 1;
    filter: drop-shadow(0px 30px 60px rgba(0, 0, 0, 0.2));
  }
  /* Publication : End */

  /* == Page - About Us : Start == */
  /* About Us - Meet Our Team : Start */
  #about-us-bottom .card-mission,
  .card-vision {
    height: 455px;
  }

  #about-us-bottom .card-integrity {
    height: 420px;
  }

  #about-us-bottom .card-body {
    display: flex;
    align-items: center;
  }

  #about-us-meet-our-team .box-1 {
    height: 128px;
    width: 20px;
    background-color: #323848;
    position: absolute;
    top: 160px;
    left: 0;
  }

  #about-us-meet-our-team .box-2 {
    height: 128px;
    width: 20px;
    background-color: #323848;
    position: absolute;
    top: 160px;
    right: 0;
  }

  #about-us-meet-our-team .team-img {
    width: 170px;
    height: 220px;
    object-fit: cover;
    display: flex;
  }
  /* About Us - Meet Our Team : End */
  /* == Page - About Us : End == */
}
/* Medium devices (tablets, 768px and up) : End */

/* Large devices (desktops, 992px and up) : Start */
@media (min-width: 992px) and (max-width: 1100px) {
    /* Global CSS : Start */
    /* remove padding & margin */
    .pm-lg-0 {
      padding: 0;
      margin: 0;
    }

    /* Global CSS : End */

  /* Jumbotron : Start */
  #jumbotron {
    height: 756px;
  }

  #jumbotron::after {
    height: 756px;
  }
  /* Jumbotron : End */

  /* Top Nav & Navbar : Start */
  #navbar .navbar-brand img {
    width: 40px;
  }

  #navbar .navbar-brand-text {
    font-size: 17px;
  }

  #navbar .search-form {
    display: none;
  }

  #navbar .chevron-icon {
    display: none;
  }

  #navbar .dropdown-menu {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
  }

  #navbar .dropdown-our-programs .heading {
    font-size: 16px;
    font-weight: 600;
  }

  #navbar .dropdown-our-programs .continent {
    font-weight: 600;
  }

  #navbar .btn-check-eligibility {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    background-color: #323848;
  }
  /* Top Nav & Navbar : End */

  /* Home About Us : Start */
  #home-about-us .card {
    width: 330px;
    height: 455px;
  }

  #home-about-us .card-footer {
    text-align: right;
    padding: 0;
  }
  /* Home About Us : End */

  /* Home Why Us : Start */
  #home-why-us .row {
    background-image: url("../images/background/greymap.png");
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: left 340px top 0px;
  }

  #home-why-us .ngglobal-logo {
    background-image: url("../images/logo/ngglobal-logo-lg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  #home-why-us .quotes {
    font-size: 35px;
    /* position: absolute; */
    /* top: 340px; */
  }
  /* Home Why US : End */

  /* Why Invest In Second Citizenship : Start */
  #WhyInvestInSecondCitizenship .heading {
    padding-top: 25px;
    font-weight: 500;
    /* font-size: 30px; */
    z-index: 10;
    color: #323848;
  }
  /* Why Invest In Second Citizenship : End */

  /* Home Because We Care : Start */
  #home-because-we-care .custom-container {
    padding: 0px 50px;
  }

  #home-because-we-care .background-img {
    background-image: url("../images/background/bg-because-we-care.png");
    background-size: cover;
    position: relative;
    height: 494px;
  }

  #home-because-we-care {
    padding-top: 50px;
  }

  #home-because-we-care .transparent-text {
    font-size: 120px;
    opacity: 0.12;
    padding-top: 60px;
  }

  #home-because-we-care .text {
    font-size: 55px;
  }
  /* Home Because We Care : End */

  /* Home Our Beloved Clients : Start */
  #home-our-beloved-clients .heading::before {
    content: "";
    width: 25vw;
    height: 4px;
    background: #efded6;
    display: block;
    position: absolute;
    left: 0%;
    top: 28px;
    margin-top: 65px;
  }

  #home-our-beloved-clients .heading::after {
    content: "";
    width: 25vw;
    height: 4px;
    background: #efded6;
    display: block;
    position: absolute;
    right: 0%;
    top: 28px;
    margin-top: 65px;
  }
  /* Home Our Beloved Clients : End */

  /* International Real Estate : Start */
  #home-international-real-estate .heading br {
    display: none;
  }

  #splide-international-real-estate .card {
    width: 350px;
  }

  #splide-international-real-estate img {
    width: 290px;
  }
  /* International Real Estate : End */

  /* Property Of The Week : Start */
  #property-of-the-week .heading br {
    display: none;
  }
  /* Property Of The Week : End */

  /* Publication : Start */

  #home-publication {
    margin-top: 70px;
    padding-bottom: 70px;
  }

  #home-publication .heading {
    padding-top: 35px;
  }

  #home-publication .images {
    height: 330px;
    width: 215px;
  }

  #home-publication .img-wrap {
    position: relative;
    height: 330px;
    width: 215px;
  }

  #home-publication .img-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 330px;
    width: 215px;
    background: rgba(50, 56, 72, 0.7);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
  }

  #home-publication .img-wrap:hover .img-description {
    visibility: visible;
    opacity: 1;
    filter: drop-shadow(0px 30px 60px rgba(0, 0, 0, 0.2));
  }
  /* Publication : End */

  /* == Page - About Us : Start == */
  /* About Us - Meet Our Team : Start */
  #about-us-bottom .card {
    height: 510px;
  }

  #about-us-meet-our-team .box-1 {
    height: 128px;
    width: 25px;
    background-color: #323848;
    position: absolute;
    top: 220px;
    left: 0;
  }

  #about-us-meet-our-team .box-2 {
    height: 128px;
    width: 25px;
    background-color: #323848;
    position: absolute;
    top: 220px;
    right: 0;
  }

  #about-us-meet-our-team .team-img {
    width: 220px;
    height: 347px;
    object-fit: cover;
    display: flex;
  }
  /* About Us - Meet Our Team : End */
  /* == Page - About Us : End == */
}
/* Large devices (desktops, 992px and up) : End */

/* Extra large devices (large desktops, 1200px and up) : Start */
@media (min-width: 1200px) {
  /* Global CSS : Start */
  /* remove padding & margin */
  .pm-xl-0 {
    padding: 0;
    margin: 0;
  }
  /* Global CSS : End */

  /* Jumbotron : Start */
  #jumbotron {
    height: 756px;
  }

  #jumbotron::after {
    height: 756px;
  }
  /* Jumbotron : End */

  /* Top Nav & Navbar : Start */
  #navbar .navbar-brand img {
    width: 60px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  #navbar .navbar-brand-text {
    font-size: 25px;
  }

  #navbar .search-form {
    display: none;
  }

  #navbar .chevron-icon {
    display: none;
  }

  #navbar .dropdown-menu {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
  }

  #navbar .dropdown-our-programs .heading {
    font-size: 16px;
    font-weight: 600;
  }

  #navbar .dropdown-our-programs .continent {
    font-weight: 600;
  }

  #navbar .btn-check-eligibility {
    margin-left: 10px;
  }
  /* Top Nav & Navbar : End */

  /* Home About Us : Start */
  #home-about-us .card {
    width: 330px;
    height: 485px;
  }

  #home-about-us .card-footer {
    text-align: right;
    padding: 0;
  }
  /* Home About Us : End */

  /* Home Why Us : Start */
  #home-why-us .row {
    background-image: url("../images/background/greymap.png");
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: left 340px top 0px;
  }

  #home-why-us .ngglobal-logo {
    background-image: url("../images/logo/ngglobal-logo-lg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  #home-why-us .quotes {
    font-size: 35px;
    /* position: absolute; */
    /* top: 340px; */
  }
  /* Home Why US : End */

  /* Why Invest In Second Citizenship : Start */
  #WhyInvestInSecondCitizenship .heading {
    padding-top: 25px;
    font-weight: 500;
    /* font-size: 30px; */
    z-index: 10;
    color: #323848;
  }
  /* Why Invest In Second Citizenship : End */

  /* Home Because We Care : Start */
  #home-because-we-care .custom-container {
    padding: 0px 50px;
  }

  #home-because-we-care .background-img {
    background-image: url("../images/background/bg-because-we-care.png");
    background-size: cover;
    position: relative;
    height: 494px;
  }

  #home-because-we-care {
    padding-top: 50px;
  }

  #home-because-we-care .transparent-text {
    font-size: 120px;
    opacity: 0.12;
    padding-top: 60px;
  }

  #home-because-we-care .text {
    font-size: 55px;
  }
  /* Home Because We Care : End */

  /* Home Our Beloved Clients : Start */
  #home-our-beloved-clients .heading::before {
    content: "";
    width: 25vw;
    height: 4px;
    background: #efded6;
    display: block;
    position: absolute;
    left: 0%;
    top: 28px;
    margin-top: 65px;
  }

  #home-our-beloved-clients .heading::after {
    content: "";
    width: 25vw;
    height: 4px;
    background: #efded6;
    display: block;
    position: absolute;
    right: 0%;
    top: 28px;
    margin-top: 65px;
  }
  /* Home Our Beloved Clients : End */

  /* International Real Estate : Start */
  #home-international-real-estate .heading br {
    display: none;
  }

  #splide-international-real-estate .card {
    width: 350px;
  }

  #splide-international-real-estate img {
    width: 290px;
  }
  /* International Real Estate : End */

  /* Property Of The Week : Start */
  #property-of-the-week .heading br {
    display: none;
  }
  /* Property Of The Week : End */

  /* Publication : Start */

  #home-publication {
    margin-top: 70px;
    padding-bottom: 70px;
  }

  #home-publication .heading {
    padding-top: 35px;
  }

  #home-publication .images {
    height: 350px;
    width: 250px;
  }

  #home-publication .img-wrap {
    position: relative;
    height: 350px;
    width: 250px;
  }

  #home-publication .img-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 350px;
    width: 250px;
    background: rgba(50, 56, 72, 0.7);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
  }

  #home-publication .img-wrap:hover .img-description {
    visibility: visible;
    opacity: 1;
    filter: drop-shadow(0px 30px 60px rgba(0, 0, 0, 0.2));
  }
  /* Publication : End */

  /* == Page - About Us : Start == */
  /* About Us - Meet Our Team : Start */
  #about-us-bottom .card {
    height: 515px;
  }

  #about-us-meet-our-team .box-1 {
    height: 128px;
    width: 80px;
    background-color: #323848;
    position: absolute;
    top: 220px;
    left: 0;
  }

  #about-us-meet-our-team .box-2 {
    height: 128px;
    width: 80px;
    background-color: #323848;
    position: absolute;
    top: 220px;
    right: 0;
  }

  #about-us-meet-our-team .team-img {
    width: 249px;
    height: 347px;
  }
  /* About Us - Meet Our Team : End */
  /* == Page - About Us : End == */
}
/* Extra large devices (large desktops, 1200px and up) : End */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /*  */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #top-nav {
    display: block;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /*  */
}

/* New Responsive Breakpoint */
/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .nav-item:hover .dropdown-menu {
    display: block;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
